@{
    ViewData["Title"] = "adding";
    Layout = "_Layout";
}

<form method="post" action="/PhoneBook/ContactAdd/">
    <div class="table">
        <div class="row">
            <div class="cell">Имя</div>
            <div class="cell"><input name="firstName" value="" /></div>
        </div>
        <div class="row">
            <div class="cell">Фамилия</div>
            <div class="cell"><input name="lastName" value="" /></div>
        </div>
        <div class="row">
            <div class="cell">Отчество</div>
            <div class="cell"><input name="thirdName" value="" /></div>
        </div>
        <div class="row">
            <div class="cell">Телефон</div>
            <div class="cell"><input name="phone" value="" /></div>
        </div>
        <div class="row">
            <div class="cell">Аддресс</div>
            <div class="cell"><input name="address" value="" /></div>
        </div>
        <div class="row">
            <div class="cell">Дескрипшен</div>
            <div class="cell"><input name="desc" value="" /></div>
        </div>
    </div>
    <button action="submit">Добавить</button>
</form>